.comment   { color:darkred;font-style:italic }
.linenum   { color:blue;font-style:normal }
.classDef  { color:blue;font-style:bold }
.classRef  { color:blue;font-style:bold }
.methodDef { color:blue;font-style:bold }
.methodRef { color:blue;font-style:bold }
.varDef    { color:blue;font-style:bold }
.varRef    { color:blue;font-style:bold }
